.LoginImageBox {
	position: relative;
	background-color: var(--accent-color);
	border-radius: 30px;
	overflow: hidden;
}
.LoginImageBox picture {
	position: relative;
	z-index: 1;
}
.LoginImageBox picture img {
	animation: appearDown 1000ms ease 1;
}
.LoginImageBox svg {
	position: absolute;
	bottom: 45px;
	left: 0;
	transform: scale(1.6);
	z-index: 0;
}

@media screen and (min-width: 768px) {
	.LoginImageBox {
		border-radius: 60px;
	}

	.LoginImageBox picture {
		right: -250px;
	}

	.LoginImageBox svg {
		transform: scale(2.8);
		bottom: -24px;
		left: 224px;
	}
}

@media screen and (min-width: 1280px) {
	.LoginImageBox {
		width: 592px;
		height: 654px;
	}

	.LoginImageBox picture {
		right: unset;
		left: 40px;
		bottom: -22px;
	}

	.LoginImageBox svg {
		transform: scale(4);
		bottom: unset;
		top: 278px;
		left: 134px;
	}
}
