.LoaderContainer {
	min-width: 100%;
	min-height: 100%;
	position: fixed;
}
.LoaderNewsBox {
	position: absolute;
	margin-top: 60px;
	width: 94%;
	height: 50%;
}
.LoaderStyles {
	position: absolute;
	top: 30%;
	left: 46%;
	transform: translate(-50%, -50%);
}
.LoaderStyles.notMobile {
	left: 50%;
}
